.profile{
    background-color: rgb(126, 124, 128);
    display: flex;
    gap: 30px;
}
.profileLinks nav{
    background-color: rgb(78, 77, 78);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding-top: 30px;
}
.profileLinks{
    width: 200px;
}
.userData{
    flex-grow: 1;
}
nav a{
    color: #fff;
    text-decoration: none;
}

table ,table td,table th{
    color: #d8d6d6;
    background-color: #585757;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #3f3c3c;
    text-align: center;
}